<footer class="panel-footer font-small blue pt-4" id="foo_con">
  <!-- Footer Links -->
  <div class="container-fluid foo_first_sec text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">
          <img id="footer_logo" src="/assets/images/logo/logo_3.png" alt="" />
        </h5>
        <p>
          Ball<span>Chalu</span> is the most advanced sports trading &
          affialiate platform and highest stakes across multiple bookmakers and
          exchanges.
        </p>
        <div class="social_btn_footer">
          <a href="#">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none pb-3" /> -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Our Service</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Download App</a>
          </li>
          <li>
            <a href="#!">How to play</a>
          </li>
          <li>
            <a href="#!">Invite Friend</a>
          </li>
          <li>
            <a href="#!">Fantasy Cricket</a>
          </li>
          <li>
            <a href="#!">Payment Option</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Usefull Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">About Us</a>
          </li>
          <li>
            <a href="#!">Terms & Condition</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
          <li>
            <a href="#!">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" id="foo_wrap">
    © 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Ball<span>Chalu</span></a>
  </div>

  <!-- Copyright -->
</footer>
