<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo/logo_3.png" alt="logo" />
      </a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#section1" class="active">About</a></li>
          <li><a href="#section2">Betradar</a></li>
          <li><a href="#section3">Features</a></li>
          <li><a href="#section41">Matches</a></li>
          <li><a href="#section42">How To Play</a></li>
          <li><a href="#foo_con">Contact</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              ><i class="fa fa-user" aria-hidden="true"></i> User
              <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">
                  <i class="fa fa-sign-in" aria-hidden="true"></i> Sign-In
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-user-o" aria-hidden="true"></i> Sign-Up
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
