<!-- About -->
<div id="section1" class="container-fluid">
  <div class="col">
    <h2>NEXT-GEN ONLINE GAMING & SPORTS</h2>
    <h1>PREDICTIONS <span>SERVICE</span></h1>
    <h3>
      Get free access to the most convenient sports trading platform and make
      your betting hassle-free!
    </h3>
  </div>
</div>
<div class="container-fluid" id="score_wrapper">
  <div class="col-md-6" id="score_left">
    <div class="left_wrapper">
      <img src="assets/images/team1.png" alt="" id="team1" />
      <label for="team1">Team 1</label>
      <div>v/s</div>
      <label for="">Team 2</label>
      <img src="assets/images/team2.png" alt="" />
    </div>
    <!-- <div class="col-md">
      <p>
        <i class="fa fa-calendar" aria-hidden="true"></i> April 3,2020 <br />
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Mumbai
      </p>
    </div> -->
  </div>
  <div class="col-md-6" id="score_right">
    <div class="right_wrapper">
      <img src="assets/images/team1.png" alt="" id="team1" />
      <label for="team1">Team 1</label>
      <div>v/s</div>
      <label for="team2">Team 2</label>
      <img src="assets/images/team2.png" alt="" id="team2" />
    </div>
  </div>
</div>

<!-- Betradar -->
<div id="section2" class="container-fluid">
  <h1>Download Ball<span>Challu</span></h1>
  <p>
    BallChallu is the most advanced sports trading & affialiate platform and
    highest stakes across multiple bookmakers and exchanges.
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="col" id="sport_boxes">
          <h1>Cricket</h1>
          <p>Up to &#8377;1,000 Welcome Bonus Over Cricket Games</p>
        </div>
        <button class="btn btn-danger">Play Now</button>
      </div>
      <div class="col-md-3">
        <div class="col">
          <h1>Hocky</h1>
          <p>Up to &#8377;1,000 Welcome Bonus Over Hocky Games</p>
        </div>
        <button class="btn btn-danger">Play Now</button>
      </div>
      <div class="col-md-3">
        <div class="col">
          <h1>Soccer</h1>
          <p>Up to &#8377;1,000 Welcome Bonus Over Soccer Games</p>
        </div>
        <button class="btn btn-danger">Play Now</button>
      </div>
      <div class="col-md-3">
        <div class="col">
          <h1>Tennis</h1>
          <p>Up to &#8377;1,000 Welcome Bonus Over Tennis Games</p>
        </div>
        <button class="btn btn-danger">Play Now</button>
      </div>
    </div>
  </div>
</div>

<!-- Features -->
<div id="section3" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Ball<span>Challu</span></h3>
        <h1>Amazing <span>Features</span></h1>
        <p>
          Ball<span>Challu</span> is the most advanced sports trading &
          affialiate platform and highest stakes across multiple bookmakers and
          exchanges.
        </p>
        <div class="features_wrap">
          <div class="row">
            <div class="col-md-6">
              <div class="f_inner">
                <img id="fin_img" src="/assets/images/f1.png" alt="" />
              </div>
              <div class="f_inner1">
                Smart Search Bar For Faster Browsing
              </div>
            </div>
            <div class="col-md-6">
              <div class="f_inner">
                <img id="fin_img" src="/assets/images/f2.png" alt="" />
              </div>
              <div class="f_inner1">
                Multiple Currencies
              </div>
            </div>
            <div class="col-md-6">
              <div class="f_inner">
                <img id="fin_img" src="/assets/images/f3.png" alt="" />
              </div>
              <div class="f_inner1">
                Live Offered Prices
              </div>
            </div>
            <div class="col-md-6">
              <div class="f_inner">
                <img id="fin_img" src="/assets/images/f4.png" alt="" />
              </div>
              <div class="f_inner1">
                One-Click Submission
              </div>
            </div>
            <div class="col-md-6">
              <div class="f_inner">
                <img id="fin_img" src="/assets/images/f5.png" alt="" />
              </div>
              <div class="f_inner1">
                Unlimited Affiliates
              </div>
            </div>
            <div class="col-md-6">
              <div class="f_inner">
                <img id="fin_img" src="/assets/images/f6.png" alt="" />
              </div>
              <div class="f_inner1">
                Fast Price Refreshes
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="sec3_hero_img"></div>
    </div>
  </div>
</div>

<!-- Team -->
<div id="section41" class="container-fluid">
  <div class="section41_wrap">
    <h1>Upcoming <span style="color: black;">Matches</span></h1>
    <div class="tab">
      <button
        class="tablinks active"
        onclick="openCity(event, 'London')"
        id="defaultOpen"
      >
        Cricket
      </button>
      <button class="tablinks" onclick="openCity(event, 'Paris')">
        Soccer
      </button>
      <button class="tablinks" onclick="openCity(event, 'Tokyo')">
        Tennis
      </button>
      <button class="tablinks" onclick="openCity(event, 'Hocky')">Hocky</button>
    </div>

    <div id="London" class="tabcontent" style="display: block;">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              IPL
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;April
                3,2020 &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i
                >&nbsp; Mumbai
              </h5>
              Match 1
              <div class="team_sec41">
                <img src="assets/images/team1.png" alt="" id="team1" />
                <label for="team1">Team 1</label>
                <div>v/s</div>
                <label for="">Team 2</label>
                <img src="assets/images/team2.png" alt="" />
              </div>
            </div>
            <span>Starting 22:10:0</span>
            <div class="card-footer text-muted">
              <a href="#" class="btn btn-danger">More Matches</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              One-Day International
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;April
                3,2020 &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i
                >&nbsp; Mumbai
              </h5>
              Match 2
              <div class="team_sec41">
                <img src="assets/images/team1.png" alt="" id="team1" />
                <label for="team1">Team 1</label>
                <div>v/s</div>
                <label for="">Team 2</label>
                <img src="assets/images/team2.png" alt="" />
              </div>
            </div>
            <span>Starting 22:10:0</span>
            <div class="card-footer text-muted">
              <a href="#" class="btn btn-danger">More Matches</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              T20 International
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;April
                3,2020 &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i
                >&nbsp; Mumbai
              </h5>
              Match 3
              <div class="team_sec41">
                <img src="assets/images/team1.png" alt="" id="team1" />
                <label for="team1">Team 1</label>
                <div>v/s</div>
                <label for="">Team 2</label>
                <img src="assets/images/team2.png" alt="" />
              </div>
            </div>
            <span>Starting 22:10:0</span>
            <div class="card-footer text-muted">
              <a href="#" class="btn btn-danger">More Matches</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="Paris" class="tabcontent">
      <h3>Soccer</h3>
      <p>There are no upcoming matches as of now</p>
    </div>

    <div id="Tokyo" class="tabcontent">
      <h3>Tennis</h3>
      <p>There are no upcoming matches as of now</p>
    </div>

    <div id="Hocky" class="tabcontent">
      <h3>Hocky</h3>
      <p>There are no upcoming matches as of now</p>
    </div>
  </div>
</div>

<!-- How to Play -->
<div id="section42" class="container-fluid">
  <!-- <div class="sec42_wrap"> -->
  <h1>How To <span>Play</span></h1>
  <ul>
    <li class="b_one">
      Select a Match
      <p>Select an upcoming match of your choice</p>
    </li>
    <li class="b_one">
      Create your Ball<span>Challu</span> Team
      <p>
        Use your sports knowledge to create a fantasy team using 100 credits
      </p>
    </li>
    <li class="b_one">
      Join Free & Cash Contests
      <p>Participate in Cash or Practice Contests and go for glory!</p>
    </li>
    <a href="#" class="btn btn-danger">Play Now</a>
  </ul>
  <!-- </div> -->
  <!-- faq start -->
  <div class="faq_wrap">
    <div class="accordian">
      <div class="accordian-wrap">
        <h3>Ball<span>Challu</span>Fantasy Cricket FAQ</h3>

        <div class="card">
          <div class="card-header">
            <div class="numberCircle">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <h3>What is Fantasy Cricket?</h3>
            <span class="fa fa-chevron-down"></span>
          </div>
          <div class="card-body" id="faq_card_body">
            <h4>
              Here are the basic rules you need to follow while playing a
              fantasy cricket match on Ball<span>Challu</span>:
            </h4>
            <p>
              Cricket is not just a sport in India, it's a religion. So it's no
              surprise that Ball<span>Challu</span> is most popular for its
              immersive fantasy cricket experience. From Tests to T20s, you can
              join contests for all formats of international cricket on
              Ball<span>Challu</span>. Apart from ICC matches and tournaments,
              users can also play online cricket games from various cricket
              leagues like the IPL - followed and played across the world. But
              how does one join and play a fantasy cricket match on
              Ball<span>Challu</span>? <br />
              <br />
              All you need is do is register using your email address and mobile
              number. An even quicker way to sign up is by connecting your
              Google or Facebook account. The game comes with a set of rules
              that are put in place to ensure #FairPlay for everyone.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <div class="numberCircle">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <h3>How To Play Fantasy Cricket and Win Cash Daily</h3>
            <span class="fa fa-chevron-down"></span>
          </div>
          <div class="card-body" id="faq_card_body">
            <h4>
              Here are the basic rules you need to follow while playing a
              fantasy cricket match on Ball<span>Challu</span>:
            </h4>
            <p>
              <b>Selecting the Match -</b> Once you head to the cricket page,
              you'll see a list of upcoming cricket matches that you can
              participate in. Pick the match that suits you want to play. <br />
              <br />
              <b>Creating a Team -</b> After you've selected a match, it's time
              to put your sports knowledge and analytical skills to good use by
              picking the right team. This is critical as creating the best team
              will help you win bigger rewards in Cash Contests. <br />
              <br />
              <b>Cash Contests -</b> Once you've created your team, you will be
              redirected to the contests page. Select a Cash Contest that fits
              your budget. You can also test your skills in Practice Contests.
              That's it! You're all set for the fantasy cricket game. <br />
              <br />
              <b>Follow the Match -</b> It's time to check your fantasy cricket
              team’s progress. You can use the fantasy scorecard and contest
              leaderboard to check your rank. The scorecard is updated every 2
              minutes. <br />
              <br />
              Once the match is over and winners are officially declared, your
              fantasy team’s final ranking and winning amount will be visible on
              the leaderboard. You could withdraw winnings over Rs.200 from your
              Ball<span>Challu</span> account with a one-time verification.
              <br /><br />
              <b>TIP:</b> Choose your captain and vice-captain carefully as they
              will score 2x and 1.5x points respectively and will decide whether
              you are the winner in your fantasy cricket contest.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <div class="numberCircle">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <h3>What is IPL Fantasy League?</h3>
            <span class="fa fa-chevron-down"></span>
          </div>
          <div class="card-body" id="faq_card_body">
            <p>
              As cricket fans, we are a very opinionated bunch, often
              disagreeing with the decisions made by the teams we so dearly
              love. This is why Ball<span>Challu</span>’s IPL Fantasy League has
              grown in popularity over the past few years. Here, we can pick 11
              players in total form either of the teams playing a particular
              match, based on the tactics each of the team uses. Being
              analytical and understanding the potential tactics that will be
              used by the teams is important. Apart from that, keeping team
              loyalties aside is important. While playing IPL Fantasy League
              matches, the only focus has to be picking the best possible team
              to get maximum points.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <div class="numberCircle">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <h3>How to Play IPL Fantasy?</h3>
            <span class="fa fa-chevron-down"></span>
          </div>
          <div class="card-body" id="faq_card_body">
            <p>
              You can choose 1-4 wicket keepers, 3-6 batsmen, 1-4 all-rounders
              and 3-6 bowlers as a good mix. Finding the right balance between
              in-form, popular players and underrated players you think will
              play well is important. There are always players who quietly go
              about their business and aren’t celebrated as much. These are the
              players who you need to identify as the ones who will act as your
              differential and move you up the leaderboards.
              <br />
              <br />
              Once this is done, you need to assign a captain and a vice-captain
              for your team. Picking the right captain and vice-captain is a key
              decision as they get double and one and a half times their real
              score respectively. So, while you enjoy the exhilarating action of
              the IPL, your squad will accumulate points based on the
              performances of the players in your IPL Fantasy League team. The
              higher you score, the better your chances of winning exciting
              prizes on Ball<span>Challu</span>.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <div class="numberCircle">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <h3>Beyond Cricket - Fantasy Football And Much More</h3>
            <span class="fa fa-chevron-down"></span>
          </div>
          <div class="card-body" id="faq_card_body">
            <p>
              While fantasy cricket matches are extremely popular on
              Ball<span>Challu</span>, it also offers Cash Contests in fantasy
              football, NBA and kabaddi matches. Ball<span>Challu</span> is the
              official partner of many popular leagues like Indian Super League
              (ISL), NBA, Pro Kabaddi League (PKL) and others. So why wait?
              Start playing on Ball<span>Challu</span> right away for the best
              fantasy sports experience.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- faq end -->
</div>

<a
  id="back-to-top"
  href="#"
  class="btn btn-light btn-lg back-to-top"
  role="button"
  ><img src="/assets/images/icons8-up-squared-48.png" alt=""
/></a>
